
<div class="card flex justify-content-center">
    <p-accordion >
        <p-accordionTab header="Students">
            @for (student of students; track student.id) {
                <div class="pi pi-user cardName" style="font-size: 1.5rem" (click)="selectPerson(student.id, 'student')">
                    {{student.firstName}}
                    {{student.lastName}}
                </div>
                <br>
            } @empty{
                <i class="pi pi-user" style="font-size: 1rem"> </i>
            }
        </p-accordionTab>
         <p-accordionTab header="Teachers">
            @for (student of teachers; track student.id) {
                <div class="pi pi-user cardName" style="font-size: 1.5rem" (click)="selectPerson(student.id, 'teacher')">
                    {{student.firstName}}
                    {{student.lastName}}
                </div>
                <br>
            } @empty{
                   <i class="pi pi-user" style="font-size: 1rem"> </i>
            }
        </p-accordionTab>
    </p-accordion>
</div>