.dropDowns{
    width: 100%;
}

.cardName {
    cursor: pointer;
    margin: 10px;
    width: 100%;
}

.cardName:hover {
    color: lightblue;
}

.p-tree	 {
    padding: 0px;
}

.cardNameActive{
    color: yellow;
}