<div class="main-panel">
  <div class="dashBoard">
      <p-splitter [style]="{ height: '100%' }"  [panelSizes]="[10, 75]" [minSizes]="[15, 50]"  >
        <ng-template pTemplate>
          <p-scrollPanel [style]="{ height: '100%',  }">
              <app-tree-view/>
            </p-scrollPanel>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
               <app-person-inspector/>
            </div>
        </ng-template>
    </p-splitter>
    </div>
</div>
