.main-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}


.dashBoard{
    height: 90vh;
    width: 100vw;
}

* {
        box-sizing: border-box;
    margin: 0;
    padding: 0;
}