<div class="main-panel">
      <p-splitter [style]="{ height: '100%', width:'100%'}"  [panelSizes]="[15, 75]" [minSizes]="[15, 70]"  >
        <ng-template pTemplate>
          <p-scrollPanel [style]="{ height: '100%', width:'100%'  }">
              <app-tree-view/>
            </p-scrollPanel>
        </ng-template>
        <ng-template pTemplate>
          <p-scrollPanel [style]="{ height: '100%', width:'100%'  }">
            <app-person-inspector/>
          </p-scrollPanel>
        </ng-template>
      </p-splitter>
</div>
