.panel{
    display: flex;
    justify-content: space-around;
}

.nameCard{
    display: flex;
    margin: 40px;
    gap: 40px;
}

.imageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageSize{
    width: 150px;
    height: 150px;
}

.studentData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.studentData > *{
    font-size: 1.1rem;
}

.subjectCards{
    margin-top: 0px;
    margin: 40px;
}

.dataInput{
    display: flex;
    gap: 20px
}