<div class="nameCard">
    <div class="imageCard">
        <img alt="User" src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" class="imageSize"/>
    </div>
    <div class="studentData">
        <div class="dataInput">
            <p> First Name: </p>
            <p style="font-weight: bold;"> {{studentData.student.firstName}}</p>
        </div>
            <div class="dataInput">
            <p> Last Name: </p>
            <p style="font-weight: bold;"> {{studentData.student.lastName}}</p>
        </div>
            <div class="dataInput">
            <p> Student Code: </p>
            <p style="font-weight: bold;"> {{studentData.student.studentCode}}</p>
        </div>
    </div>
</div>


<div  class="subjectCards">
    @for(subject of studentData.subjects; track subject.id){
        <p-accordion (onOpen)="openSubject(subject.id)">
            <p-accordionTab header="{{ subject.name}}" >
                @if (studentData.subjectData[ subject.id]){
                    <div class="panel">
                        <div style="display: flex; gap: 20px; font-size: 1.5rem;"> 
                            <p> Teacher </p> 
                            <p class="teacherLink" (click)="selectTeacher(studentData.subjectData[ subject.id].teacher.id)">
                                {{studentData.subjectData[ subject.id].teacher.firstName}} {{studentData.subjectData[ subject.id].teacher.lastName}}
                            </p>
                        </div>
                        <div class="circle" [ngStyle]="{'background-color': getGradeColor(studentData.subjectData[ subject.id].average)}">
                            {{studentData.subjectData[ subject.id].average | number:'0.3-3' }}
                        </div>
                    </div>
                    <p-table 
                    [value]="studentData.subjectData[subject.id].grades"
                    styleClass="p-datatable-striped"  
                    [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Data</th>
                            <th>Grade</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-grade>
                        <tr>
                            <td>{{ grade.createdOn | date:'dd.MM.yyyy. ' }}</td>
                            <td>{{ grade.value }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            }
        </p-accordionTab>
    </p-accordion>
} 
</div>


