@for(subject of data.subjects; track subject.id){
        <p-accordion (onOpen)="selectSubject(subject.id)">
        <p-accordionTab header="{{ subject.name}}" >
            <div class="panel">
                <p> {{data.studentTeacher?.lastName}}</p>
                <p> {{data.average}}</p>
            </div>
            @if (data.studentTeacher !== undefined && data.studentTeacher !== null){
                <p-table 
                [value]="data.grades"
                styleClass="p-datatable-striped"  
                [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Data</th>
                            <th>Grade</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-grade>
                        <tr>
                            <td>{{ grade.createdOn | date:'dd.MM.yyyy. ' }}</td>
                            <td>{{ grade.value }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            }
        </p-accordionTab>
    </p-accordion>
} 


